In [21]:
# Clustering - its grouping items into similar groups
# 50,47,53,55 .......Usage 50
# 90,95,93,99,105..........Usage 100
# 160,170,140 ........Usage 150
# Clustering is unsupervised no testing of model
# Lets say the supermarket wants to launch some offers to its customers
# They need to know which specific customers to target
# Clustering its customers is the solution

import pandas
data = pandas.read_csv('http://modcom.co.ke/datasets/Mall_Customers.csv')
data.head(5)

   CustomerID  Gender  Age  Annual Income  Spending Score
0           1    Male   19           15.0            39.0
1           2    Male   21           15.0            81.0
2           3  Female   20           16.0             6.0
3           4  Female   23           16.0            77.0
4           5  Female   31           17.0            40.0

In [22]:
# First drop any empties
data.dropna(inplace=True) # This means remove the empties completely
array = data.values
X = array[:, 2:5]

In [23]:
# Split the data
array = data.values
X = array[:, 2:5]
# No Y

In [24]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters=12, random_state=42)
model.fit(X)

KMeans(n_clusters=12, random_state=42)

In [25]:
# Lets see the clusters
means = model.cluster_centers_
clusters = pandas.DataFrame(means, columns= ['Age', 'Income', 'Score'])
clusters
# Below are the three set means for each cluster, for the three columns

          Age      Income      Score
0   39.000000   27.200000  33.100000
1   24.117647   64.058824  45.294118
2   32.857143   79.357143  90.500000
3   41.869565   80.086957  14.478261
4   24.850000   24.950000  81.000000
5   64.095238   53.190476  50.380952
6   41.571429  108.428571  20.714286
7   32.666667  110.666667  83.555556
8   48.750000   24.583333   9.583333
9   33.266667   77.200000  72.266667
10  27.058824   45.117647  54.470588
11  47.111111   55.518519  47.370370

In [26]:
# Lets see who is in the cluster
# The labels gives you which cluster every record went.
data['no'] = model.labels_
cluster = data[data ['no'] == 5]
cluster

     CustomerID  Gender  Age  Annual Income  Spending Score  no
40           41  Female   65           38.0            35.0   5
53           54    Male   59           43.0            60.0   5
57           58    Male   69           44.0            46.0   5
60           61    Male   70           46.0            56.0   5
62           63  Female   67           47.0            52.0   5
63           64  Female   54           47.0            59.0   5
64           65    Male   63           48.0            51.0   5
67           68  Female   68           48.0            48.0   5
70           71    Male   70           49.0            55.0   5
72           73  Female   60           50.0            49.0   5
74           75    Male   59           54.0            47.0   5
80           81    Male   57           54.0            51.0   5
82           83    Male   67           54.0            41.0   5
86           87  Female   55           57.0            58.0   5
90           91  Female   68           59.0            55.0   5
102         103    Male   67           62.0            59.0   5
106         107  Female   66           63.0            50.0   5
108         109    Male   68           63.0            43.0   5
109         110    Male   66           63.0            48.0   5
110         111    Male   65           63.0            52.0   5
116         117  Female   63           65.0            43.0   5